-- FIX RLS GASTOS
DROP POLICY IF EXISTS \
Acceso
total
gastos\ ON public.gastos;
CREATE POLICY \Acceso
total
gastos\ ON public.gastos FOR ALL USING (true);

-- FIX STORAGE RLS (Asegurar que se puede subir a buckets)
CREATE POLICY \Acceso
total
storage
documentos\ ON storage.objects FOR ALL USING (bucket_id = 'documentos');
CREATE POLICY \Acceso
total
storage
firmados\ ON storage.objects FOR ALL USING (bucket_id = 'firmados');
CREATE POLICY \Acceso
total
storage
gastos\ ON storage.objects FOR ALL USING (bucket_id = 'gastos');

-- Asegurar columna 'numero' en gastos no sea UNIQUE si falla el autogenerado al principio
-- (Opcional, pero previene errores si el usuario sube varios rápido sin numero)
ALTER TABLE public.gastos ALTER COLUMN numero DROP NOT NULL;

